.active{
    color: white;
    text-decoration: underline;
    padding-left: 10px;
}
.deactive{
    color:  gray;
    text-decoration: none;
    padding-left: 10px;
}
.deactive:hover{
    border-radius: 5px;
    background: white;
    color: black;
    padding:5px 10px;
    margin: 5px;
}
.active:hover{
    color: black;
    background: white;
    padding:5px 10px;
    margin: 5px;
    border-radius: 5px;
}
