
  .title{
    font-family: 'Poppins', sans-serif;
    color:#ff793f;
  }
  h4{
    font-family: 'Comme', sans-serif;
    font-size: 30px;
  }
  p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
  }